In [1]:
import pandas as pd
import re 
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import fnmatch
from datetime import datetime
import calendar

%matplotlib inline

In [2]:
crisis_1 = pd.read_excel('../Data/Crisis_1.xlsx', header=2)
crisis_1

,CallReportNum,ReportVersion,LinkedToCallReportNum,CallDateAndTimeStart,CallDateAndTimeEnd,CallLength,CallerNum,PhoneWorkerNum,PhoneWorkerName,WasRealCall,...,SUI AX Third-Party Risk Assessment Demographics - Income,SUI AX Third-Party Risk Assessment Demographics - SUI AX Does this risk assesment have different demographics than the caller? (Third-party Call),Suicide Assessment - Are you thinking of suicide?,Suicide Assessment - Caller is having thoughts of killing self or other,Suicide Assessment - Do you own a firearm?,Suicide Assessment - Have you ever attempted to kill yourself?,Suicide Assessment - Have you thought about suicide in the last two months?,Suicide Assessment - Suicide in progress?,Transfer Information - Were you transferred to this line from another crisis line or agency?,Transfer Information - Which line/agency transferred you to this Crisis Line?
0,96627022,Crisis,NaN,2021-12-31 23:35:00,2021-12-31 23:58:00,23,-1,136748,Lisa Crawford,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,96626934,Crisis,NaN,2021-12-31 23:29:00,2021-12-31 23:35:00,6,-1,136748,Lisa Crawford,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,96626654,Crisis,NaN,2021-12-31 23:07:00,2021-12-31 23:28:00,21,1030262,136748,Lisa Crawford,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,96626370,Crisis,NaN,2021-12-31 22:45:00,2021-12-31 22:55:00,10,2479348,136748,Lisa Crawford,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,96625909,Crisis,NaN,2021-12-31 22:15:00,2021-12-31 22:44:00,29,-1,136748,Lisa Crawford,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
52871,69492892,Crisis,NaN,2020-01-01 05:14:00,2020-01-01 05:28:00,14,1029822,101461,Rachel Bailey,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
52872,69492741,Crisis,NaN,2020-01-01 04:45:00,2020-01-01 05:05:00,20,-1,101461,Rachel Bailey,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
52873,69492019,Crisis,NaN,2020-01-01 03:00:00,2020-01-01 03:18:00,18,-1,101461,Rachel Bailey,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
52874,69492070,Crisis,NaN,2020-01-01 01:45:00,2020-01-01 01:49:00,4,-1,101461,Rachel Bailey,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
52875,69492055,Crisis,NaN,2020-01-01 00:04:00,2020-01-01 00:05:00,1,-1,101461,Rachel Bailey,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
crisis_1_dates = crisis_1[['CallDateAndTimeStart']]
crisis_1_dates = crisis_1_dates.rename(columns = {'CallDateAndTimeStart': 'Call_Date'})
crisis_1_dates

                Call_Date
0     2021-12-31 23:35:00
1     2021-12-31 23:29:00
2     2021-12-31 23:07:00
3     2021-12-31 22:45:00
4     2021-12-31 22:15:00
...                   ...
52871 2020-01-01 05:14:00
52872 2020-01-01 04:45:00
52873 2020-01-01 03:00:00
52874 2020-01-01 01:45:00
52875 2020-01-01 00:04:00

[52876 rows x 1 columns]

In [4]:
crisis_1_dates['year'] = pd.DatetimeIndex(crisis_1_dates['Call_Date']).year
crisis_1_dates['month'] = pd.DatetimeIndex(crisis_1_dates['Call_Date']).month
crisis_1_dates['day'] = pd.DatetimeIndex(crisis_1_dates['Call_Date']).day
crisis_1_dates

                Call_Date  year  month  day
0     2021-12-31 23:35:00  2021     12   31
1     2021-12-31 23:29:00  2021     12   31
2     2021-12-31 23:07:00  2021     12   31
3     2021-12-31 22:45:00  2021     12   31
4     2021-12-31 22:15:00  2021     12   31
...                   ...   ...    ...  ...
52871 2020-01-01 05:14:00  2020      1    1
52872 2020-01-01 04:45:00  2020      1    1
52873 2020-01-01 03:00:00  2020      1    1
52874 2020-01-01 01:45:00  2020      1    1
52875 2020-01-01 00:04:00  2020      1    1

[52876 rows x 4 columns]

In [5]:
##broke down to just 2020

In [6]:
calls_2020 = crisis_1_dates[crisis_1_dates['year'] == 2020]
calls_2020

                Call_Date  year  month  day
29493 2020-12-31 23:40:00  2020     12   31
29494 2020-12-31 22:31:00  2020     12   31
29495 2020-12-31 21:32:00  2020     12   31
29496 2020-12-31 21:27:00  2020     12   31
29497 2020-12-31 21:19:00  2020     12   31
...                   ...   ...    ...  ...
52871 2020-01-01 05:14:00  2020      1    1
52872 2020-01-01 04:45:00  2020      1    1
52873 2020-01-01 03:00:00  2020      1    1
52874 2020-01-01 01:45:00  2020      1    1
52875 2020-01-01 00:04:00  2020      1    1

[23383 rows x 4 columns]

In [7]:
##broke down to Jan 2020. total for month = 1430 calls
##total for each weekday below
##total for each day below

In [8]:
calls_2020_jan = calls_2020[calls_2020['month'] == 1]
calls_2020_jan['weekday'] = calls_2020_jan['Call_Date'].dt.day_name()
calls_2020_jan

C:\Users\kahar\AppData\Local\Temp/ipykernel_47316/1033558510.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  calls_2020_jan['weekday'] = calls_2020_jan['Call_Date'].dt.day_name()

                Call_Date  year  month  day    weekday
51446 2020-01-31 21:26:00  2020      1   31     Friday
51447 2020-01-31 21:23:00  2020      1   31     Friday
51448 2020-01-31 21:08:00  2020      1   31     Friday
51449 2020-01-31 20:52:00  2020      1   31     Friday
51450 2020-01-31 20:33:00  2020      1   31     Friday
...                   ...   ...    ...  ...        ...
52871 2020-01-01 05:14:00  2020      1    1  Wednesday
52872 2020-01-01 04:45:00  2020      1    1  Wednesday
52873 2020-01-01 03:00:00  2020      1    1  Wednesday
52874 2020-01-01 01:45:00  2020      1    1  Wednesday
52875 2020-01-01 00:04:00  2020      1    1  Wednesday

[1430 rows x 5 columns]

In [9]:
calls_2020_jan_weekday = calls_2020_jan.groupby('weekday').count()
calls_2020_jan_weekday = calls_2020_jan_weekday.drop(columns = ['year', 'month', 'day'])
calls_2020_jan_weekday = calls_2020_jan_weekday.rename(columns = {'Call_Date' : 'total_per_weekday'})
calls_2020_jan_weekday

           total_per_weekday
weekday
Friday                   254
Monday                   162
Saturday                 139
Sunday                   159
Thursday                 215
Tuesday                  225
Wednesday                276

In [10]:
calls_2020_jan_days = calls_2020_jan.groupby('day').count()
calls_2020_jan_days = calls_2020_jan_days.drop(columns = ['year', 'month', 'weekday'])
calls_2020_jan_days = calls_2020_jan_days.rename(columns = {'Call_Date' : 'total_per_day'})
calls_2020_jan_days

     total_per_day
day
1               33
2               29
3               47
4               27
5               41
6               48
7               61
8               63
9               42
10              46
11              39
12              41
13              40
14              54
15              62
16              46
17              54
18              40
19              39
20              34
21              53
22              54
23              53
24              53
25              33
26              38
27              40
28              57
29              64
30              45
31              54

In [11]:
##2020 feb broken down   total for month = 1418 calls

In [12]:
calls_2020_feb = calls_2020[calls_2020['month'] == 2]
calls_2020_feb['weekday'] = calls_2020_feb['Call_Date'].dt.day_name()
calls_2020_feb

C:\Users\kahar\AppData\Local\Temp/ipykernel_47316/200572417.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  calls_2020_feb['weekday'] = calls_2020_feb['Call_Date'].dt.day_name()

                Call_Date  year  month  day   weekday
50028 2020-02-29 23:47:00  2020      2   29  Saturday
50029 2020-02-29 22:53:00  2020      2   29  Saturday
50030 2020-02-29 22:48:00  2020      2   29  Saturday
50031 2020-02-29 21:21:00  2020      2   29  Saturday
50032 2020-02-29 21:15:00  2020      2   29  Saturday
...                   ...   ...    ...  ...       ...
51441 2020-02-01 07:44:00  2020      2    1  Saturday
51442 2020-02-01 06:52:00  2020      2    1  Saturday
51443 2020-02-01 06:15:00  2020      2    1  Saturday
51444 2020-02-01 01:12:00  2020      2    1  Saturday
51445 2020-02-01 00:50:00  2020      2    1  Saturday

[1418 rows x 5 columns]

In [13]:
calls_2020_feb_weekday = calls_2020_feb.groupby('weekday').count()
calls_2020_feb_weekday = calls_2020_feb_weekday.drop(columns = ['year', 'month', 'day'])
calls_2020_feb_weekday = calls_2020_feb_weekday.rename(columns = {'Call_Date' : 'total_per_weekday'})
calls_2020_feb_weekday

           total_per_weekday
weekday
Friday                   209
Monday                   232
Saturday                 228
Sunday                   173
Thursday                 192
Tuesday                  198
Wednesday                186

In [14]:
calls_2020_feb_days = calls_2020_feb.groupby('day').count()
calls_2020_feb_days = calls_2020_feb_days.drop(columns = ['year', 'month', 'weekday'])
calls_2020_feb_days = calls_2020_feb_days.rename(columns = {'Call_Date' : 'total_per_day'})
calls_2020_feb_days

     total_per_day
day
1               42
2               36
3               59
4               48
5               39
6               46
7               47
8               43
9               43
10              54
11              50
12              39
13              40
14              46
15              48
16              41
17              48
18              40
19              58
20              33
21              36
22              27
23              53
24              71
25              60
26              50
27              73
28              80
29              68

In [15]:
##2020 march broken down    total for the month = 1820 calls

In [16]:
calls_2020_mar = calls_2020[calls_2020['month'] == 3]
calls_2020_mar['weekday'] = calls_2020_mar['Call_Date'].dt.day_name()
calls_2020_mar

C:\Users\kahar\AppData\Local\Temp/ipykernel_47316/1989108817.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  calls_2020_mar['weekday'] = calls_2020_mar['Call_Date'].dt.day_name()

                Call_Date  year  month  day  weekday
48208 2020-03-31 23:45:00  2020      3   31  Tuesday
48209 2020-03-31 22:22:00  2020      3   31  Tuesday
48210 2020-03-31 21:37:00  2020      3   31  Tuesday
48211 2020-03-31 21:30:00  2020      3   31  Tuesday
48212 2020-03-31 21:03:00  2020      3   31  Tuesday
...                   ...   ...    ...  ...      ...
50023 2020-03-01 06:02:00  2020      3    1   Sunday
50024 2020-03-01 04:43:00  2020      3    1   Sunday
50025 2020-03-01 03:55:00  2020      3    1   Sunday
50026 2020-03-01 01:15:00  2020      3    1   Sunday
50027 2020-03-01 00:58:00  2020      3    1   Sunday

[1820 rows x 5 columns]

In [17]:
calls_2020_mar_weekday = calls_2020_mar.groupby('weekday').count()
calls_2020_mar_weekday = calls_2020_mar_weekday.drop(columns = ['year', 'month', 'day'])
calls_2020_mar_weekday = calls_2020_mar_weekday.rename(columns = {'Call_Date' : 'total_per_weekday'})
calls_2020_mar_weekday

           total_per_weekday
weekday
Friday                   235
Monday                   301
Saturday                 214
Sunday                   260
Thursday                 254
Tuesday                  301
Wednesday                255

In [18]:
calls_2020_mar_days = calls_2020_mar.groupby('day').count()
calls_2020_mar_days = calls_2020_mar_days.drop(columns = ['year', 'month', 'weekday'])
calls_2020_mar_days = calls_2020_mar_days.rename(columns = {'Call_Date' : 'total_per_day'})
calls_2020_mar_days

     total_per_day
day
1               54
2               57
3               62
4               72
5               74
6               60
7               50
8               44
9               61
10              59
11              71
12              67
13              68
14              56
15              55
16              55
17              47
18              52
19              59
20              58
21              54
22              53
23              58
24              72
25              60
26              54
27              49
28              54
29              54
30              70
31              61

In [19]:
##2020 april broken down    total for month = 1778 calls

In [20]:
calls_2020_apr = calls_2020[calls_2020['month'] == 4]
calls_2020_apr['weekday'] = calls_2020_apr['Call_Date'].dt.day_name()
calls_2020_apr

C:\Users\kahar\AppData\Local\Temp/ipykernel_47316/2417480574.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  calls_2020_apr['weekday'] = calls_2020_apr['Call_Date'].dt.day_name()

                Call_Date  year  month  day    weekday
46430 2020-04-30 22:56:00  2020      4   30   Thursday
46431 2020-04-30 22:19:00  2020      4   30   Thursday
46432 2020-04-30 22:03:00  2020      4   30   Thursday
46433 2020-04-30 21:41:00  2020      4   30   Thursday
46434 2020-04-30 20:42:00  2020      4   30   Thursday
...                   ...   ...    ...  ...        ...
48203 2020-04-01 03:23:00  2020      4    1  Wednesday
48204 2020-04-01 02:44:00  2020      4    1  Wednesday
48205 2020-04-01 02:43:00  2020      4    1  Wednesday
48206 2020-04-01 01:08:00  2020      4    1  Wednesday
48207 2020-04-01 00:10:00  2020      4    1  Wednesday

[1778 rows x 5 columns]

In [21]:
calls_2020_apr_weekday = calls_2020_apr.groupby('weekday').count()
calls_2020_apr_weekday = calls_2020_apr_weekday.drop(columns = ['year', 'month', 'day'])
calls_2020_apr_weekday = calls_2020_apr_weekday.rename(columns = {'Call_Date' : 'total_per_weekday'})
calls_2020_apr_weekday

           total_per_weekday
weekday
Friday                   229
Monday                   226
Saturday                 221
Sunday                   182
Thursday                 320
Tuesday                  260
Wednesday                340

In [22]:
calls_2020_apr_days = calls_2020_apr.groupby('day').count()
calls_2020_apr_days = calls_2020_apr_days.drop(columns = ['year', 'month', 'weekday'])
calls_2020_apr_days = calls_2020_apr_days.rename(columns = {'Call_Date' : 'total_per_day'})
calls_2020_apr_days

     total_per_day
day
1               70
2               69
3               69
4               64
5               48
6               58
7               63
8               65
9               75
10              69
11              53
12              51
13              60
14              72
15              72
16              51
17              43
18              52
19              46
20              46
21              62
22              74
23              60
24              48
25              52
26              37
27              62
28              63
29              59
30              65

In [23]:
##2020 may broken down   total for month = 1944 calls

In [24]:
calls_2020_may = calls_2020[calls_2020['month'] == 5]
calls_2020_may['weekday'] = calls_2020_may['Call_Date'].dt.day_name()
calls_2020_may

C:\Users\kahar\AppData\Local\Temp/ipykernel_47316/3910449355.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  calls_2020_may['weekday'] = calls_2020_may['Call_Date'].dt.day_name()

                Call_Date  year  month  day weekday
44486 2020-05-31 22:53:00  2020      5   31  Sunday
44487 2020-05-31 22:50:00  2020      5   31  Sunday
44488 2020-05-31 21:07:00  2020      5   31  Sunday
44489 2020-05-31 20:54:00  2020      5   31  Sunday
44490 2020-05-31 20:30:00  2020      5   31  Sunday
...                   ...   ...    ...  ...     ...
46425 2020-05-01 06:05:00  2020      5    1  Friday
46426 2020-05-01 03:53:00  2020      5    1  Friday
46427 2020-05-01 01:25:00  2020      5    1  Friday
46428 2020-05-01 01:24:00  2020      5    1  Friday
46429 2020-05-01 01:01:00  2020      5    1  Friday

[1944 rows x 5 columns]

In [25]:
calls_2020_may_weekday = calls_2020_may.groupby('weekday').count()
calls_2020_may_weekday = calls_2020_may_weekday.drop(columns = ['year', 'month', 'day'])
calls_2020_may_weekday = calls_2020_may_weekday.rename(columns = {'Call_Date' : 'total_per_weekday'})
calls_2020_may_weekday

           total_per_weekday
weekday
Friday                   278
Monday                   267
Saturday                 319
Sunday                   287
Thursday                 309
Tuesday                  238
Wednesday                246

In [26]:
calls_2020_may_days = calls_2020_may.groupby('day').count()
calls_2020_may_days = calls_2020_may_days.drop(columns = ['year', 'month', 'weekday'])
calls_2020_may_days = calls_2020_may_days.rename(columns = {'Call_Date' : 'total_per_day'})
calls_2020_may_days

     total_per_day
day
1               50
2               61
3               59
4               58
5               52
6               69
7               75
8               52
9               59
10              70
11              75
12              56
13              65
14              64
15              63
16              74
17              56
18              67
19              62
20              45
21              80
22              60
23              58
24              38
25              67
26              68
27              67
28              90
29              53
30              67
31              64

In [27]:
##2020 june broken down   total for month = 1975 calls

In [28]:
calls_2020_jun = calls_2020[calls_2020['month'] == 6]
calls_2020_jun['weekday'] = calls_2020_jun['Call_Date'].dt.day_name()
calls_2020_jun

C:\Users\kahar\AppData\Local\Temp/ipykernel_47316/2668753887.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  calls_2020_jun['weekday'] = calls_2020_jun['Call_Date'].dt.day_name()

                Call_Date  year  month  day  weekday
42511 2020-06-30 23:04:00  2020      6   30  Tuesday
42512 2020-06-30 23:04:00  2020      6   30  Tuesday
42513 2020-06-30 23:01:00  2020      6   30  Tuesday
42514 2020-06-30 22:24:00  2020      6   30  Tuesday
42515 2020-06-30 22:20:00  2020      6   30  Tuesday
...                   ...   ...    ...  ...      ...
44481 2020-06-01 05:25:00  2020      6    1   Monday
44482 2020-06-01 04:15:00  2020      6    1   Monday
44483 2020-06-01 01:51:00  2020      6    1   Monday
44484 2020-06-01 00:43:00  2020      6    1   Monday
44485 2020-06-01 00:32:00  2020      6    1   Monday

[1975 rows x 5 columns]

In [29]:
calls_2020_jun_weekday = calls_2020_jun.groupby('weekday').count()
calls_2020_jun_weekday = calls_2020_jun_weekday.drop(columns = ['year', 'month', 'day'])
calls_2020_jun_weekday = calls_2020_jun_weekday.rename(columns = {'Call_Date' : 'total_per_weekday'})
calls_2020_jun_weekday

           total_per_weekday
weekday
Friday                   249
Monday                   294
Saturday                 252
Sunday                   247
Thursday                 283
Tuesday                  342
Wednesday                308

In [30]:
calls_2020_jun_days = calls_2020_jun.groupby('day').count()
calls_2020_jun_days = calls_2020_jun_days.drop(columns = ['year', 'month', 'weekday'])
calls_2020_jun_days = calls_2020_jun_days.rename(columns = {'Call_Date' : 'total_per_day'})
calls_2020_jun_days

     total_per_day
day
1               57
2               62
3               84
4               76
5               65
6               52
7               65
8               57
9               68
10              83
11              60
12              65
13              64
14              56
15              66
16              70
17              74
18              74
19              55
20              64
21              70
22              43
23              67
24              67
25              73
26              64
27              72
28              56
29              71
30              75

In [31]:
##2020 july broken down   total for month = 2261 calls

In [32]:
calls_2020_jul = calls_2020[calls_2020['month'] == 7]
calls_2020_jul['weekday'] = calls_2020_jul['Call_Date'].dt.day_name()
calls_2020_jul

C:\Users\kahar\AppData\Local\Temp/ipykernel_47316/1612978475.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  calls_2020_jul['weekday'] = calls_2020_jul['Call_Date'].dt.day_name()

                Call_Date  year  month  day    weekday
40250 2020-07-31 23:59:00  2020      7   31     Friday
40251 2020-07-31 23:33:00  2020      7   31     Friday
40252 2020-07-31 23:29:00  2020      7   31     Friday
40253 2020-07-31 23:18:00  2020      7   31     Friday
40254 2020-07-31 23:00:00  2020      7   31     Friday
...                   ...   ...    ...  ...        ...
42506 2020-07-01 01:19:00  2020      7    1  Wednesday
42507 2020-07-01 01:15:00  2020      7    1  Wednesday
42508 2020-07-01 00:52:00  2020      7    1  Wednesday
42509 2020-07-01 00:12:00  2020      7    1  Wednesday
42510 2020-07-01 00:04:00  2020      7    1  Wednesday

[2261 rows x 5 columns]

In [33]:
calls_2020_jul_weekday = calls_2020_jul.groupby('weekday').count()
calls_2020_jul_weekday = calls_2020_jul_weekday.drop(columns = ['year', 'month', 'day'])
calls_2020_jul_weekday = calls_2020_jul_weekday.rename(columns = {'Call_Date' : 'total_per_weekday'})
calls_2020_jul_weekday

           total_per_weekday
weekday
Friday                   383
Monday                   293
Saturday                 285
Sunday                   303
Thursday                 360
Tuesday                  257
Wednesday                380

In [34]:
calls_2020_jul_days = calls_2020_jul.groupby('day').count()
calls_2020_jul_days = calls_2020_jul_days.drop(columns = ['year', 'month', 'weekday'])
calls_2020_jul_days = calls_2020_jul_days.rename(columns = {'Call_Date' : 'total_per_day'})
calls_2020_jul_days

     total_per_day
day
1               79
2               82
3               70
4               71
5               82
6               57
7               67
8               65
9               69
10              84
11              94
12              64
13              70
14              57
15              82
16              67
17              66
18              57
19              76
20              82
21              67
22              81
23              69
24              87
25              63
26              81
27              84
28              66
29              73
30              73
31              76

In [35]:
##2020 august broken down   total for month = 2218 calls

In [36]:
calls_2020_aug = calls_2020[calls_2020['month'] == 8]
calls_2020_aug['weekday'] = calls_2020_aug['Call_Date'].dt.day_name()
calls_2020_aug

C:\Users\kahar\AppData\Local\Temp/ipykernel_47316/1727536450.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  calls_2020_aug['weekday'] = calls_2020_aug['Call_Date'].dt.day_name()

                Call_Date  year  month  day   weekday
38032 2020-08-31 23:06:00  2020      8   31    Monday
38033 2020-08-31 22:50:00  2020      8   31    Monday
38034 2020-08-31 22:14:00  2020      8   31    Monday
38035 2020-08-31 21:41:00  2020      8   31    Monday
38036 2020-08-31 21:38:00  2020      8   31    Monday
...                   ...   ...    ...  ...       ...
40245 2020-08-01 01:13:00  2020      8    1  Saturday
40246 2020-08-01 01:04:00  2020      8    1  Saturday
40247 2020-08-01 00:51:00  2020      8    1  Saturday
40248 2020-08-01 00:34:00  2020      8    1  Saturday
40249 2020-08-01 00:09:00  2020      8    1  Saturday

[2218 rows x 5 columns]

In [37]:
calls_2020_aug_weekday = calls_2020_aug.groupby('weekday').count()
calls_2020_aug_weekday = calls_2020_aug_weekday.drop(columns = ['year', 'month', 'day'])
calls_2020_aug_weekday = calls_2020_aug_weekday.rename(columns = {'Call_Date' : 'total_per_weekday'})
calls_2020_aug_weekday

           total_per_weekday
weekday
Friday                   305
Monday                   375
Saturday                 326
Sunday                   340
Thursday                 282
Tuesday                  300
Wednesday                290

In [38]:
calls_2020_aug_days = calls_2020_aug.groupby('day').count()
calls_2020_aug_days = calls_2020_aug_days.drop(columns = ['year', 'month', 'weekday'])
calls_2020_aug_days = calls_2020_aug_days.rename(columns = {'Call_Date' : 'total_per_day'})
calls_2020_aug_days

     total_per_day
day
1               81
2               69
3               84
4               72
5               63
6               77
7               98
8               82
9               76
10              67
11              78
12              85
13              70
14              68
15              52
16              69
17              77
18              95
19              77
20              60
21              63
22              59
23              57
24              72
25              55
26              65
27              75
28              76
29              52
30              69
31              75

In [39]:
##2020 september broken down   total for month = 2133 calls

In [40]:
calls_2020_sep = calls_2020[calls_2020['month'] == 9]
calls_2020_sep['weekday'] = calls_2020_sep['Call_Date'].dt.day_name()
calls_2020_sep

C:\Users\kahar\AppData\Local\Temp/ipykernel_47316/3692385057.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  calls_2020_sep['weekday'] = calls_2020_sep['Call_Date'].dt.day_name()

                Call_Date  year  month  day    weekday
35899 2020-09-30 23:56:00  2020      9   30  Wednesday
35900 2020-09-30 23:24:00  2020      9   30  Wednesday
35901 2020-09-30 23:03:00  2020      9   30  Wednesday
35902 2020-09-30 23:02:00  2020      9   30  Wednesday
35903 2020-09-30 22:21:00  2020      9   30  Wednesday
...                   ...   ...    ...  ...        ...
38027 2020-09-01 08:41:00  2020      9    1    Tuesday
38028 2020-09-01 08:04:00  2020      9    1    Tuesday
38029 2020-09-01 06:59:00  2020      9    1    Tuesday
38030 2020-09-01 06:37:00  2020      9    1    Tuesday
38031 2020-09-01 05:05:00  2020      9    1    Tuesday

[2133 rows x 5 columns]

In [41]:
calls_2020_sep_weekday = calls_2020_sep.groupby('weekday').count()
calls_2020_sep_weekday = calls_2020_sep_weekday.drop(columns = ['year', 'month', 'day'])
calls_2020_sep_weekday = calls_2020_sep_weekday.rename(columns = {'Call_Date' : 'total_per_weekday'})
calls_2020_sep_weekday

           total_per_weekday
weekday
Friday                   283
Monday                   298
Saturday                 228
Sunday                   282
Thursday                 306
Tuesday                  346
Wednesday                390

In [42]:
calls_2020_sep_days = calls_2020_sep.groupby('day').count()
calls_2020_sep_days = calls_2020_sep_days.drop(columns = ['year', 'month', 'weekday'])
calls_2020_sep_days = calls_2020_sep_days.rename(columns = {'Call_Date' : 'total_per_day'})
calls_2020_sep_days

     total_per_day
day
1               58
2               69
3               65
4               66
5               66
6               68
7               68
8               75
9               64
10              78
11              79
12              62
13              79
14              76
15              73
16              81
17              87
18              70
19              42
20              73
21              75
22              68
23              85
24              76
25              68
26              58
27              62
28              79
29              72
30              91

In [43]:
##2020 october broken down   total for month = 2216 calls

In [44]:
calls_2020_oct = calls_2020[calls_2020['month'] == 10]
calls_2020_oct['weekday'] = calls_2020_oct['Call_Date'].dt.day_name()
calls_2020_oct

C:\Users\kahar\AppData\Local\Temp/ipykernel_47316/1674022806.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  calls_2020_oct['weekday'] = calls_2020_oct['Call_Date'].dt.day_name()

                Call_Date  year  month  day   weekday
33683 2020-10-31 23:07:00  2020     10   31  Saturday
33684 2020-10-31 22:33:00  2020     10   31  Saturday
33685 2020-10-31 22:11:00  2020     10   31  Saturday
33686 2020-10-31 22:09:00  2020     10   31  Saturday
33687 2020-10-31 21:37:00  2020     10   31  Saturday
...                   ...   ...    ...  ...       ...
35894 2020-10-01 02:04:00  2020     10    1  Thursday
35895 2020-10-01 01:11:00  2020     10    1  Thursday
35896 2020-10-01 00:23:00  2020     10    1  Thursday
35897 2020-10-01 00:16:00  2020     10    1  Thursday
35898 2020-10-01 00:13:00  2020     10    1  Thursday

[2216 rows x 5 columns]

In [45]:
calls_2020_oct_weekday = calls_2020_oct.groupby('weekday').count()
calls_2020_oct_weekday = calls_2020_oct_weekday.drop(columns = ['year', 'month', 'day'])
calls_2020_oct_weekday = calls_2020_oct_weekday.rename(columns = {'Call_Date' : 'total_per_weekday'})
calls_2020_oct_weekday

           total_per_weekday
weekday
Friday                   332
Monday                   311
Saturday                 295
Sunday                   243
Thursday                 389
Tuesday                  331
Wednesday                315

In [46]:
calls_2020_oct_days = calls_2020_oct.groupby('day').count()
calls_2020_oct_days = calls_2020_oct_days.drop(columns = ['year', 'month', 'weekday'])
calls_2020_oct_days = calls_2020_oct_days.rename(columns = {'Call_Date' : 'total_per_day'})
calls_2020_oct_days

     total_per_day
day
1               78
2               67
3               82
4               54
5               86
6               83
7               90
8               65
9               66
10              64
11              64
12              65
13              82
14              71
15              79
16              68
17              56
18              64
19              91
20              93
21              83
22              81
23              58
24              59
25              61
26              69
27              73
28              71
29              86
30              73
31              34

In [47]:
##2020 november broken down   total for month = 2149 calls

In [48]:
calls_2020_nov = calls_2020[calls_2020['month'] == 11]
calls_2020_nov['weekday'] = calls_2020_nov['Call_Date'].dt.day_name()
calls_2020_nov

C:\Users\kahar\AppData\Local\Temp/ipykernel_47316/2431547639.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  calls_2020_nov['weekday'] = calls_2020_nov['Call_Date'].dt.day_name()

                Call_Date  year  month  day weekday
31534 2020-11-30 23:36:00  2020     11   30  Monday
31535 2020-11-30 23:35:00  2020     11   30  Monday
31536 2020-11-30 23:07:00  2020     11   30  Monday
31537 2020-11-30 23:07:00  2020     11   30  Monday
31538 2020-11-30 22:35:00  2020     11   30  Monday
...                   ...   ...    ...  ...     ...
33678 2020-11-01 06:06:00  2020     11    1  Sunday
33679 2020-11-01 06:00:00  2020     11    1  Sunday
33680 2020-11-01 02:54:00  2020     11    1  Sunday
33681 2020-11-01 00:46:00  2020     11    1  Sunday
33682 2020-11-01 00:30:00  2020     11    1  Sunday

[2149 rows x 5 columns]

In [49]:
calls_2020_nov_weekday = calls_2020_nov.groupby('weekday').count()
calls_2020_nov_weekday = calls_2020_nov_weekday.drop(columns = ['year', 'month', 'day'])
calls_2020_nov_weekday = calls_2020_nov_weekday.rename(columns = {'Call_Date' : 'total_per_weekday'})
calls_2020_nov_weekday

           total_per_weekday
weekday
Friday                   335
Monday                   388
Saturday                 237
Sunday                   266
Thursday                 326
Tuesday                  287
Wednesday                310

In [50]:
calls_2020_nov_days = calls_2020_nov.groupby('day').count()
calls_2020_nov_days = calls_2020_nov_days.drop(columns = ['year', 'month', 'weekday'])
calls_2020_nov_days = calls_2020_nov_days.rename(columns = {'Call_Date' : 'total_per_day'})
calls_2020_nov_days

     total_per_day
day
1               55
2               79
3               59
4               79
5               75
6               75
7               59
8               59
9               67
10              68
11              80
12              74
13              80
14              53
15              49
16              78
17              77
18              71
19              84
20              85
21              65
22              47
23              78
24              83
25              80
26              93
27              95
28              60
29              56
30              86

In [51]:
##2020 december broken down   total for month = 2041 calls

In [52]:
calls_2020_dec = calls_2020[calls_2020['month'] == 12]
calls_2020_dec['weekday'] = calls_2020_dec['Call_Date'].dt.day_name()
calls_2020_dec

C:\Users\kahar\AppData\Local\Temp/ipykernel_47316/1591237278.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  calls_2020_dec['weekday'] = calls_2020_dec['Call_Date'].dt.day_name()

                Call_Date  year  month  day   weekday
29493 2020-12-31 23:40:00  2020     12   31  Thursday
29494 2020-12-31 22:31:00  2020     12   31  Thursday
29495 2020-12-31 21:32:00  2020     12   31  Thursday
29496 2020-12-31 21:27:00  2020     12   31  Thursday
29497 2020-12-31 21:19:00  2020     12   31  Thursday
...                   ...   ...    ...  ...       ...
31529 2020-12-01 01:47:00  2020     12    1   Tuesday
31530 2020-12-01 01:35:00  2020     12    1   Tuesday
31531 2020-12-01 01:10:00  2020     12    1   Tuesday
31532 2020-12-01 00:48:00  2020     12    1   Tuesday
31533 2020-12-01 00:07:00  2020     12    1   Tuesday

[2041 rows x 5 columns]

In [53]:
calls_2020_dec_weekday = calls_2020_dec.groupby('weekday').count()
calls_2020_dec_weekday = calls_2020_dec_weekday.drop(columns = ['year', 'month', 'day'])
calls_2020_dec_weekday = calls_2020_dec_weekday.rename(columns = {'Call_Date' : 'total_per_weekday'})
calls_2020_dec_weekday

           total_per_weekday
weekday
Friday                   250
Monday                   271
Saturday                 191
Sunday                   231
Thursday                 347
Tuesday                  370
Wednesday                381

In [54]:
calls_2020_dec_days = calls_2020_dec.groupby('day').count()
calls_2020_dec_days = calls_2020_dec_days.drop(columns = ['year', 'month', 'weekday'])
calls_2020_dec_days = calls_2020_dec_days.rename(columns = {'Call_Date' : 'total_per_day'})
calls_2020_dec_days

     total_per_day
day
1               76
2               61
3               59
4               69
5               53
6               61
7               68
8               80
9               74
10              78
11              57
12              49
13              53
14              68
15              53
16              93
17              76
18              75
19              49
20              59
21              73
22              89
23              70
24              69
25              49
26              40
27              58
28              62
29              72
30              83
31              65