In [1]:
import pandas as pd
import re 
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import fnmatch
from datetime import datetime
import calendar

%matplotlib inline

In [2]:
crisis_1 = pd.read_excel('../Data/Crisis_1.xlsx', header=2)

In [3]:
crisis_1

,CallReportNum,ReportVersion,LinkedToCallReportNum,CallDateAndTimeStart,CallDateAndTimeEnd,CallLength,CallerNum,PhoneWorkerNum,PhoneWorkerName,WasRealCall,...,SUI AX Third-Party Risk Assessment Demographics - Income,SUI AX Third-Party Risk Assessment Demographics - SUI AX Does this risk assesment have different demographics than the caller? (Third-party Call),Suicide Assessment - Are you thinking of suicide?,Suicide Assessment - Caller is having thoughts of killing self or other,Suicide Assessment - Do you own a firearm?,Suicide Assessment - Have you ever attempted to kill yourself?,Suicide Assessment - Have you thought about suicide in the last two months?,Suicide Assessment - Suicide in progress?,Transfer Information - Were you transferred to this line from another crisis line or agency?,Transfer Information - Which line/agency transferred you to this Crisis Line?
0,96627022,Crisis,NaN,2021-12-31 23:35:00,2021-12-31 23:58:00,23,-1,136748,Lisa Crawford,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,96626934,Crisis,NaN,2021-12-31 23:29:00,2021-12-31 23:35:00,6,-1,136748,Lisa Crawford,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,96626654,Crisis,NaN,2021-12-31 23:07:00,2021-12-31 23:28:00,21,1030262,136748,Lisa Crawford,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,96626370,Crisis,NaN,2021-12-31 22:45:00,2021-12-31 22:55:00,10,2479348,136748,Lisa Crawford,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,96625909,Crisis,NaN,2021-12-31 22:15:00,2021-12-31 22:44:00,29,-1,136748,Lisa Crawford,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
52871,69492892,Crisis,NaN,2020-01-01 05:14:00,2020-01-01 05:28:00,14,1029822,101461,Rachel Bailey,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
52872,69492741,Crisis,NaN,2020-01-01 04:45:00,2020-01-01 05:05:00,20,-1,101461,Rachel Bailey,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
52873,69492019,Crisis,NaN,2020-01-01 03:00:00,2020-01-01 03:18:00,18,-1,101461,Rachel Bailey,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
52874,69492070,Crisis,NaN,2020-01-01 01:45:00,2020-01-01 01:49:00,4,-1,101461,Rachel Bailey,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
52875,69492055,Crisis,NaN,2020-01-01 00:04:00,2020-01-01 00:05:00,1,-1,101461,Rachel Bailey,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
crisis_2 = pd.read_excel('../Data/Crisis_2.xlsx', skiprows=2)

In [5]:
crisis_2

,CallReportNum,ReportVersion,LinkedToCallReportNum,CallDateAndTimeStart,CallDateAndTimeEnd,CallLength,CallerNum,PhoneWorkerNum,PhoneWorkerName,WasRealCall,...,SUI AX Phone Line - SAMHSA - Was the offer for follow-up accepted?,SUI AX Reassessment - Change in Risk Level,SUI AX Reassessment - Initial Suicide Risk Assessment,SUI AX Reassessment - Is this a Reassessment?,SUI AX Reassessment - Suicide Risk Re-assessment,SUI AX Third-Party Risk Assessment Demographics - Income,SUI AX Third-Party Risk Assessment Demographics - SUI AX Does this risk assesment have different demographics than the caller? (Third-party Call),Suicide Imminent Risk - Third party suicide call emergency rescue dispatched?,Suicide Imminent Risk - Was emergency rescue dispatched?,Suicide Imminent Risk - Was suicidal ideation present?
0,101384892.0,Crisis v.2,NaN,2022-04-30 23:19:00,2022-04-30 23:27:00,8.0,1025380.0,55599.0,Darren Anderson,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,101384348.0,Crisis v.2,NaN,2022-04-30 22:46:00,2022-04-30 23:13:00,27.0,-1.0,55599.0,Darren Anderson,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,101383635.0,Crisis v.2,NaN,2022-04-30 22:03:00,2022-04-30 22:27:00,24.0,-1.0,169061.0,Tandra Freeman,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,101383441.0,Crisis v.2,NaN,2022-04-30 21:52:00,2022-04-30 22:15:00,23.0,-1.0,170047.0,Jane Davis,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,101383414.0,Crisis v.2,NaN,2022-04-30 21:50:00,2022-04-30 21:51:00,1.0,-1.0,169061.0,Tandra Freeman,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10643,96673255.0,Homicidal Risk Assessment,Yes,2022-01-01 20:34:00,2022-01-01 20:58:00,24.0,-1.0,166157.0,Tasia Thompson,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10644,96645142.0,Suicide Risk Assessment,Yes,2022-01-01 18:27:00,2022-01-01 19:12:00,45.0,-1.0,166157.0,Tasia Thompson,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10645,96640741.0,Suicide Risk Assessment,Yes,2022-01-01 14:44:00,2022-01-01 15:19:00,35.0,-1.0,136748.0,Lisa Crawford,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10646,96849680.0,Crisis v.2,NaN,2022-01-01 12:09:00,2022-01-01 12:10:00,1.0,-1.0,53133.0,Shannon Huffman,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10647,97267704.0,Suicide Risk Assessment,Yes,2022-01-01 02:30:00,2022-01-01 03:10:00,40.0,-1.0,169061.0,Tandra Freeman,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
call_20 = pd.read_excel('../Data/Call_center_20-22.xlsx', sheet_name = '2020')

In [7]:
call_20

,Report Info,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10
0,Queue:,"AWARE,Community Response,Crisis Eng,Crisis Eng...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,"Crisis Spanish,Crisis Spanish PRIORITY,",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,"Lifeline,MHART,Pet Loss,REDLINE,Referral Line,",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,SAMHSA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Start Date:,2020-01-01 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
99,Within 90 secs,11637 calls,524,0.7134,NaN,NaN,NaN,NaN,NaN,NaN,NaN
100,Within 105 secs,12062 calls,425,0.7394,NaN,NaN,NaN,NaN,NaN,NaN,NaN
101,Within 120 secs,12403 calls,341,0.7603,NaN,NaN,NaN,NaN,NaN,NaN,NaN
102,Within 135 secs,12981 calls,578,0.7957,NaN,NaN,NaN,NaN,NaN,NaN,NaN
103,Within 150+ secs,16313 calls,3332,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
call_21 = pd.read_excel('../Data/Call_center_20-22.xlsx', sheet_name = '2021')

In [9]:
call_21

,Report Info,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10
0,Queue:,"AWARE,Community Response,Crisis Eng,Crisis Eng...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,"Crisis Spanish,Crisis Spanish PRIORITY,",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,"Lifeline,MHART,Pet Loss,REDLINE,Referral Line,",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,SAMHSA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Start Date:,2021-01-01 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
112,Within 90 secs,9823 calls,656,0.6118,NaN,NaN,NaN,NaN,NaN,NaN,NaN
113,Within 105 secs,10303 calls,480,0.6417,NaN,NaN,NaN,NaN,NaN,NaN,NaN
114,Within 120 secs,10741 calls,438,0.669,NaN,NaN,NaN,NaN,NaN,NaN,NaN
115,Within 135 secs,11422 calls,681,0.7114,NaN,NaN,NaN,NaN,NaN,NaN,NaN
116,Within 150+ secs,16056 calls,4634,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [10]:
call_22 = pd.read_excel('../Data/Call_center_20-22.xlsx', sheet_name = '2022')

In [11]:
call_22

,Unnamed: 0,"Lifeline,MHART,Pet Loss,REDLINE,Referral Line,",Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10
0,NaN,SAMHSA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Start Date:,2022-01-01 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,End Date:,2022-04-30 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Hour range:,00:00 - 23:59,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Period:,120 days,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
99,Within 90 secs,2340 calls,186,0.6084,NaN,NaN,NaN,NaN,NaN,NaN,NaN
100,Within 105 secs,2487 calls,147,0.6466,NaN,NaN,NaN,NaN,NaN,NaN,NaN
101,Within 120 secs,2596 calls,109,0.675,NaN,NaN,NaN,NaN,NaN,NaN,NaN
102,Within 135 secs,2767 calls,171,0.7194,NaN,NaN,NaN,NaN,NaN,NaN,NaN
103,Within 150+ secs,3846 calls,1079,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [12]:
crisis_1.info

<bound method DataFrame.info of        CallReportNum ReportVersion LinkedToCallReportNum CallDateAndTimeStart  \
0           96627022        Crisis                   NaN  2021-12-31 23:35:00
1           96626934        Crisis                   NaN  2021-12-31 23:29:00
2           96626654        Crisis                   NaN  2021-12-31 23:07:00
3           96626370        Crisis                   NaN  2021-12-31 22:45:00
4           96625909        Crisis                   NaN  2021-12-31 22:15:00
...              ...           ...                   ...                  ...
52871       69492892        Crisis                   NaN  2020-01-01 05:14:00
52872       69492741        Crisis                   NaN  2020-01-01 04:45:00
52873       69492019        Crisis                   NaN  2020-01-01 03:00:00
52874       69492070        Crisis                   NaN  2020-01-01 01:45:00
52875       69492055        Crisis                   NaN  2020-01-01 00:04:00

       CallDateAndTimeEnd  CallLength  CallerNum  PhoneWorkerNum  \
0     2021-12-31 23:58:00          23         -1          136748
1     2021-12-31 23:35:00           6         -1          136748
2     2021-12-31 23:28:00          21    1030262          136748
3     2021-12-31 22:55:00          10    2479348          136748
4     2021-12-31 22:44:00          29         -1          136748
...                   ...         ...        ...             ...
52871 2020-01-01 05:28:00          14    1029822          101461
52872 2020-01-01 05:05:00          20         -1          101461
52873 2020-01-01 03:18:00          18         -1          101461
52874 2020-01-01 01:49:00           4         -1          101461
52875 2020-01-01 00:05:00           1         -1          101461

      PhoneWorkerName  WasRealCall  ...  \
0       Lisa Crawford          NaN  ...
1       Lisa Crawford          NaN  ...
2       Lisa Crawford          NaN  ...
3       Lisa Crawford          NaN  ...
4       Lisa Crawford          NaN  ...
...               ...          ...  ...
52871   Rachel Bailey          NaN  ...
52872   Rachel Bailey          NaN  ...
52873   Rachel Bailey          NaN  ...
52874   Rachel Bailey          NaN  ...
52875   Rachel Bailey          NaN  ...

       SUI AX Third-Party Risk Assessment Demographics - Income  \
0                                                    NaN
1                                                    NaN
2                                                    NaN
3                                                    NaN
4                                                    NaN
...                                                  ...
52871                                                NaN
52872                                                NaN
52873                                                NaN
52874                                                NaN
52875                                                NaN

       SUI AX Third-Party Risk Assessment Demographics - SUI AX Does this risk assesment have different demographics than the caller? (Third-party Call)  \
0                                                    NaN
1                                                    NaN
2                                                    NaN
3                                                    NaN
4                                                    NaN
...                                                  ...
52871                                                NaN
52872                                                NaN
52873                                                NaN
52874                                                NaN
52875                                                NaN

       Suicide Assessment - Are you thinking of suicide?  \
0                                                    NaN
1                                                    NaN
2                                                    NaN
3                                                    NaN
4                                                    NaN
...                                                  ...
52871                                                NaN
52872                                                NaN
52873                                                NaN
52874                                                NaN
52875                                                NaN

       Suicide Assessment - Caller is having thoughts of killing self or other  \
0                                                    NaN
1                                                    NaN
2                                                    NaN
3                                                    NaN
4                                                    NaN
...                                                  ...
52871                                                NaN
52872                                                NaN
52873                                                NaN
52874                                                NaN
52875                                                NaN

       Suicide Assessment - Do you own a firearm?  \
0                                             NaN
1                                             NaN
2                                             NaN
3                                             NaN
4                                             NaN
...                                           ...
52871                                         NaN
52872                                         NaN
52873                                         NaN
52874                                         NaN
52875                                         NaN

       Suicide Assessment - Have you ever attempted to kill yourself?  \
0                                                    NaN
1                                                    NaN
2                                                    NaN
3                                                    NaN
4                                                    NaN
...                                                  ...
52871                                                NaN
52872                                                NaN
52873                                                NaN
52874                                                NaN
52875                                                NaN

       Suicide Assessment - Have you thought about suicide in the last two months?  \
0                                                    NaN
1                                                    NaN
2                                                    NaN
3                                                    NaN
4                                                    NaN
...                                                  ...
52871                                                NaN
52872                                                NaN
52873                                                NaN
52874                                                NaN
52875                                                NaN

      Suicide Assessment - Suicide in progress?  \
0                                           NaN
1                                           NaN
2                                           NaN
3                                           NaN
4                                           NaN
...                                         ...
52871                                       NaN
52872                                       NaN
52873                                       NaN
52874                                       NaN
52875                                       NaN

       Transfer Information - Were you transferred to this line from another crisis line or agency?  \
0                                                    NaN
1                                                    NaN
2                                                    NaN
3                                                    NaN
4                                                    NaN
...                                                  ...
52871                                                NaN
52872                                                NaN
52873                                                NaN
52874                                                NaN
52875                                                NaN

       Transfer Information - Which line/agency transferred you to this Crisis Line?
0                                                    NaN
1                                                    NaN
2                                                    NaN
3                                                    NaN
4                                                    NaN
...                                                  ...
52871                                                NaN
52872                                                NaN
52873                                                NaN
52874                                                NaN
52875                                                NaN

[52876 rows x 312 columns]>

In [13]:
crisis_2.info

<bound method DataFrame.info of        CallReportNum              ReportVersion LinkedToCallReportNum  \
0        101384892.0                 Crisis v.2                   NaN
1        101384348.0                 Crisis v.2                   NaN
2        101383635.0                 Crisis v.2                   NaN
3        101383441.0                 Crisis v.2                   NaN
4        101383414.0                 Crisis v.2                   NaN
...              ...                        ...                   ...
10643     96673255.0  Homicidal Risk Assessment                   Yes
10644     96645142.0    Suicide Risk Assessment                   Yes
10645     96640741.0    Suicide Risk Assessment                   Yes
10646     96849680.0                 Crisis v.2                   NaN
10647     97267704.0    Suicide Risk Assessment                   Yes

      CallDateAndTimeStart  CallDateAndTimeEnd  CallLength  CallerNum  \
0      2022-04-30 23:19:00 2022-04-30 23:27:00         8.0  1025380.0
1      2022-04-30 22:46:00 2022-04-30 23:13:00        27.0       -1.0
2      2022-04-30 22:03:00 2022-04-30 22:27:00        24.0       -1.0
3      2022-04-30 21:52:00 2022-04-30 22:15:00        23.0       -1.0
4      2022-04-30 21:50:00 2022-04-30 21:51:00         1.0       -1.0
...                    ...                 ...         ...        ...
10643  2022-01-01 20:34:00 2022-01-01 20:58:00        24.0       -1.0
10644  2022-01-01 18:27:00 2022-01-01 19:12:00        45.0       -1.0
10645  2022-01-01 14:44:00 2022-01-01 15:19:00        35.0       -1.0
10646  2022-01-01 12:09:00 2022-01-01 12:10:00         1.0       -1.0
10647  2022-01-01 02:30:00 2022-01-01 03:10:00        40.0       -1.0

       PhoneWorkerNum  PhoneWorkerName  WasRealCall  ...  \
0             55599.0  Darren Anderson          NaN  ...
1             55599.0  Darren Anderson          NaN  ...
2            169061.0   Tandra Freeman          NaN  ...
3            170047.0       Jane Davis          NaN  ...
4            169061.0   Tandra Freeman          NaN  ...
...               ...              ...          ...  ...
10643        166157.0   Tasia Thompson          NaN  ...
10644        166157.0   Tasia Thompson          NaN  ...
10645        136748.0    Lisa Crawford          NaN  ...
10646         53133.0  Shannon Huffman          NaN  ...
10647        169061.0   Tandra Freeman          NaN  ...

       SUI AX Phone Line - SAMHSA - Was the offer for follow-up accepted?  \
0                                                    NaN
1                                                    NaN
2                                                    NaN
3                                                    NaN
4                                                    NaN
...                                                  ...
10643                                                NaN
10644                                                NaN
10645                                                NaN
10646                                                NaN
10647                                                NaN

       SUI AX Reassessment - Change in Risk Level  \
0                                             NaN
1                                             NaN
2                                             NaN
3                                             NaN
4                                             NaN
...                                           ...
10643                                         NaN
10644                                         NaN
10645                                         NaN
10646                                         NaN
10647                                         NaN

       SUI AX Reassessment - Initial Suicide Risk Assessment  \
0                                                    NaN
1                                                    NaN
2                                                    NaN
3                                                    NaN
4                                                    NaN
...                                                  ...
10643                                                NaN
10644                                                NaN
10645                                                NaN
10646                                                NaN
10647                                                NaN

       SUI AX Reassessment - Is this a Reassessment?  \
0                                                NaN
1                                                NaN
2                                                NaN
3                                                NaN
4                                                NaN
...                                              ...
10643                                            NaN
10644                                            NaN
10645                                            NaN
10646                                            NaN
10647                                            NaN

       SUI AX Reassessment - Suicide Risk Re-assessment  \
0                                                   NaN
1                                                   NaN
2                                                   NaN
3                                                   NaN
4                                                   NaN
...                                                 ...
10643                                               NaN
10644                                               NaN
10645                                               NaN
10646                                               NaN
10647                                               NaN

       SUI AX Third-Party Risk Assessment Demographics - Income  \
0                                                    NaN
1                                                    NaN
2                                                    NaN
3                                                    NaN
4                                                    NaN
...                                                  ...
10643                                                NaN
10644                                                NaN
10645                                                NaN
10646                                                NaN
10647                                                NaN

       SUI AX Third-Party Risk Assessment Demographics - SUI AX Does this risk assesment have different demographics than the caller? (Third-party Call)  \
0                                                    NaN
1                                                    NaN
2                                                    NaN
3                                                    NaN
4                                                    NaN
...                                                  ...
10643                                                NaN
10644                                                NaN
10645                                                NaN
10646                                                NaN
10647                                                NaN

      Suicide Imminent Risk - Third party suicide call emergency rescue dispatched?  \
0                                                    NaN
1                                                    NaN
2                                                    NaN
3                                                    NaN
4                                                    NaN
...                                                  ...
10643                                                NaN
10644                                                NaN
10645                                                NaN
10646                                                NaN
10647                                                NaN

      Suicide Imminent Risk - Was emergency rescue dispatched?  \
0                                                    NaN
1                                                    NaN
2                                                    NaN
3                                                    NaN
4                                                    NaN
...                                                  ...
10643                                                NaN
10644                                                NaN
10645                                                NaN
10646                                                NaN
10647                                                NaN

      Suicide Imminent Risk - Was suicidal ideation present?
0                                                    NaN
1                                                    NaN
2                                                    NaN
3                                                    NaN
4                                                    NaN
...                                                  ...
10643                                                NaN
10644                                                NaN
10645                                                NaN
10646                                                NaN
10647                                                NaN

[10648 rows x 261 columns]>

In [14]:
crisis_1.dropna(how='all', axis=1, inplace=True)
crisis_1

,CallReportNum,ReportVersion,LinkedToCallReportNum,CallDateAndTimeStart,CallDateAndTimeEnd,CallLength,CallerNum,PhoneWorkerNum,PhoneWorkerName,PostalCode,...,SUI AX Follow-up - Best time to call,SUI AX Intent - Expressed Intent to Die,SUI AX Intent - Preparatory Behaviors,SUI AX Intent - Suicide Plan,SUI AX Note Corrections - ADMIN ONLY - Correction Required?,SUI AX Note Corrections - ADMIN ONLY - Correction Type Needed,SUI AX Note Corrections - ADMIN ONLY - Correction(s) Checked by Admin?,SUI AX Third-Party Risk Assessment Demographics - SUI AX Does this risk assesment have different demographics than the caller? (Third-party Call),Transfer Information - Were you transferred to this line from another crisis line or agency?,Transfer Information - Which line/agency transferred you to this Crisis Line?
0,96627022,Crisis,NaN,2021-12-31 23:35:00,2021-12-31 23:58:00,23,-1,136748,Lisa Crawford,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,96626934,Crisis,NaN,2021-12-31 23:29:00,2021-12-31 23:35:00,6,-1,136748,Lisa Crawford,37211,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,96626654,Crisis,NaN,2021-12-31 23:07:00,2021-12-31 23:28:00,21,1030262,136748,Lisa Crawford,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,96626370,Crisis,NaN,2021-12-31 22:45:00,2021-12-31 22:55:00,10,2479348,136748,Lisa Crawford,37098,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,96625909,Crisis,NaN,2021-12-31 22:15:00,2021-12-31 22:44:00,29,-1,136748,Lisa Crawford,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
52871,69492892,Crisis,NaN,2020-01-01 05:14:00,2020-01-01 05:28:00,14,1029822,101461,Rachel Bailey,37138,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
52872,69492741,Crisis,NaN,2020-01-01 04:45:00,2020-01-01 05:05:00,20,-1,101461,Rachel Bailey,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
52873,69492019,Crisis,NaN,2020-01-01 03:00:00,2020-01-01 03:18:00,18,-1,101461,Rachel Bailey,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
52874,69492070,Crisis,NaN,2020-01-01 01:45:00,2020-01-01 01:49:00,4,-1,101461,Rachel Bailey,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
52875,69492055,Crisis,NaN,2020-01-01 00:04:00,2020-01-01 00:05:00,1,-1,101461,Rachel Bailey,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [15]:
crisis_2.dropna(how='all', axis=1, inplace=True)
crisis_2

,CallReportNum,ReportVersion,LinkedToCallReportNum,CallDateAndTimeStart,CallDateAndTimeEnd,CallLength,CallerNum,PhoneWorkerNum,PhoneWorkerName,CountyName,...,SUI AX Follow-up - Caller Consented to Follow Up?,SUI AX Intent - Expressed Intent to Die,SUI AX Intent - Preparatory Behaviors,SUI AX Intent - Suicide Plan,SUI AX Note Corrections - ADMIN ONLY - Correction Required?,SUI AX Note Corrections - ADMIN ONLY - Correction Type Needed,SUI AX Note Corrections - ADMIN ONLY - Correction(s) Checked by Admin?,Suicide Imminent Risk - Third party suicide call emergency rescue dispatched?,Suicide Imminent Risk - Was emergency rescue dispatched?,Suicide Imminent Risk - Was suicidal ideation present?
0,101384892.0,Crisis v.2,NaN,2022-04-30 23:19:00,2022-04-30 23:27:00,8.0,1025380.0,55599.0,Darren Anderson,Robertson,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,101384348.0,Crisis v.2,NaN,2022-04-30 22:46:00,2022-04-30 23:13:00,27.0,-1.0,55599.0,Darren Anderson,Smith,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,101383635.0,Crisis v.2,NaN,2022-04-30 22:03:00,2022-04-30 22:27:00,24.0,-1.0,169061.0,Tandra Freeman,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,101383441.0,Crisis v.2,NaN,2022-04-30 21:52:00,2022-04-30 22:15:00,23.0,-1.0,170047.0,Jane Davis,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,101383414.0,Crisis v.2,NaN,2022-04-30 21:50:00,2022-04-30 21:51:00,1.0,-1.0,169061.0,Tandra Freeman,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10643,96673255.0,Homicidal Risk Assessment,Yes,2022-01-01 20:34:00,2022-01-01 20:58:00,24.0,-1.0,166157.0,Tasia Thompson,Davidson,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10644,96645142.0,Suicide Risk Assessment,Yes,2022-01-01 18:27:00,2022-01-01 19:12:00,45.0,-1.0,166157.0,Tasia Thompson,Davidson,...,NaN,NaN,None,Vague no plan no specific time,NaN,NaN,NaN,NaN,NaN,NaN
10645,96640741.0,Suicide Risk Assessment,Yes,2022-01-01 14:44:00,2022-01-01 15:19:00,35.0,-1.0,136748.0,Lisa Crawford,NaN,...,NaN,Some expressed intent,Has thought about it or a few in progress,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10646,96849680.0,Crisis v.2,NaN,2022-01-01 12:09:00,2022-01-01 12:10:00,1.0,-1.0,53133.0,Shannon Huffman,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10647,97267704.0,Suicide Risk Assessment,Yes,2022-01-01 02:30:00,2022-01-01 03:10:00,40.0,-1.0,169061.0,Tandra Freeman,NaN,...,NaN,Some expressed intent,Has thought about it or a few in progress,Vague no plan no specific time,NaN,NaN,NaN,NaN,NaN,NaN

getting just call dates to find surge times and breaking down months and days to see patterns/events

In [16]:
crisis_1_dates = crisis_1[['CallDateAndTimeStart']]
crisis_1_dates = crisis_1_dates.rename(columns = {'CallDateAndTimeStart': 'Call_Date'})
crisis_1_dates

                Call_Date
0     2021-12-31 23:35:00
1     2021-12-31 23:29:00
2     2021-12-31 23:07:00
3     2021-12-31 22:45:00
4     2021-12-31 22:15:00
...                   ...
52871 2020-01-01 05:14:00
52872 2020-01-01 04:45:00
52873 2020-01-01 03:00:00
52874 2020-01-01 01:45:00
52875 2020-01-01 00:04:00

[52876 rows x 1 columns]

In [17]:
crisis_2_dates = crisis_2[['CallDateAndTimeStart']]
crisis_2_dates = crisis_2_dates.rename(columns = {'CallDateAndTimeStart': 'Call_Date'})
crisis_2_dates

                Call_Date
0     2022-04-30 23:19:00
1     2022-04-30 22:46:00
2     2022-04-30 22:03:00
3     2022-04-30 21:52:00
4     2022-04-30 21:50:00
...                   ...
10643 2022-01-01 20:34:00
10644 2022-01-01 18:27:00
10645 2022-01-01 14:44:00
10646 2022-01-01 12:09:00
10647 2022-01-01 02:30:00

[10648 rows x 1 columns]

In [18]:
crisis_1_dates.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 52876 entries, 0 to 52875
Data columns (total 1 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Call_Date  52876 non-null  datetime64[ns]
dtypes: datetime64[ns](1)
memory usage: 413.2 KB

In [19]:
crisis_1_dates['year'] = pd.DatetimeIndex(crisis_1_dates['Call_Date']).year
crisis_1_dates['month'] = pd.DatetimeIndex(crisis_1_dates['Call_Date']).month
crisis_1_dates['day'] = pd.DatetimeIndex(crisis_1_dates['Call_Date']).day
crisis_1_dates

                Call_Date  year  month  day
0     2021-12-31 23:35:00  2021     12   31
1     2021-12-31 23:29:00  2021     12   31
2     2021-12-31 23:07:00  2021     12   31
3     2021-12-31 22:45:00  2021     12   31
4     2021-12-31 22:15:00  2021     12   31
...                   ...   ...    ...  ...
52871 2020-01-01 05:14:00  2020      1    1
52872 2020-01-01 04:45:00  2020      1    1
52873 2020-01-01 03:00:00  2020      1    1
52874 2020-01-01 01:45:00  2020      1    1
52875 2020-01-01 00:04:00  2020      1    1

[52876 rows x 4 columns]

In [20]:
crisis_2_dates['year'] = pd.DatetimeIndex(crisis_2_dates['Call_Date']).year
crisis_2_dates['month'] = pd.DatetimeIndex(crisis_2_dates['Call_Date']).month
crisis_2_dates['day'] = pd.DatetimeIndex(crisis_2_dates['Call_Date']).day
crisis_2_dates

                Call_Date  year  month  day
0     2022-04-30 23:19:00  2022      4   30
1     2022-04-30 22:46:00  2022      4   30
2     2022-04-30 22:03:00  2022      4   30
3     2022-04-30 21:52:00  2022      4   30
4     2022-04-30 21:50:00  2022      4   30
...                   ...   ...    ...  ...
10643 2022-01-01 20:34:00  2022      1    1
10644 2022-01-01 18:27:00  2022      1    1
10645 2022-01-01 14:44:00  2022      1    1
10646 2022-01-01 12:09:00  2022      1    1
10647 2022-01-01 02:30:00  2022      1    1

[10648 rows x 4 columns]

In [21]:
##crisis_1_dates['year'] = crisis_1_dates['year'].astype(str)     did not need/did not work when using == has to be integer
##crisis_1_dates['month'] = crisis_1_dates['month'].astype(str)
##crisis_1_dates['day'] = crisis_1_dates['day'].astype(str)

In [22]:
crisis_1_dates[crisis_1_dates['month'] == 12]

                Call_Date  year  month  day
0     2021-12-31 23:35:00  2021     12   31
1     2021-12-31 23:29:00  2021     12   31
2     2021-12-31 23:07:00  2021     12   31
3     2021-12-31 22:45:00  2021     12   31
4     2021-12-31 22:15:00  2021     12   31
...                   ...   ...    ...  ...
31529 2020-12-01 01:47:00  2020     12    1
31530 2020-12-01 01:35:00  2020     12    1
31531 2020-12-01 01:10:00  2020     12    1
31532 2020-12-01 00:48:00  2020     12    1
31533 2020-12-01 00:07:00  2020     12    1

[4667 rows x 4 columns]

In [23]:
calls_2020 = crisis_1_dates[crisis_1_dates['year'] == 2020]
calls_2020

                Call_Date  year  month  day
29493 2020-12-31 23:40:00  2020     12   31
29494 2020-12-31 22:31:00  2020     12   31
29495 2020-12-31 21:32:00  2020     12   31
29496 2020-12-31 21:27:00  2020     12   31
29497 2020-12-31 21:19:00  2020     12   31
...                   ...   ...    ...  ...
52871 2020-01-01 05:14:00  2020      1    1
52872 2020-01-01 04:45:00  2020      1    1
52873 2020-01-01 03:00:00  2020      1    1
52874 2020-01-01 01:45:00  2020      1    1
52875 2020-01-01 00:04:00  2020      1    1

[23383 rows x 4 columns]

In [24]:
calls_2021 = crisis_1_dates[crisis_1_dates['year'] == 2021]
calls_2021

                Call_Date  year  month  day
0     2021-12-31 23:35:00  2021     12   31
1     2021-12-31 23:29:00  2021     12   31
2     2021-12-31 23:07:00  2021     12   31
3     2021-12-31 22:45:00  2021     12   31
4     2021-12-31 22:15:00  2021     12   31
...                   ...   ...    ...  ...
29488 2021-01-01 01:39:00  2021      1    1
29489 2021-01-01 01:29:00  2021      1    1
29490 2021-01-01 01:25:00  2021      1    1
29491 2021-01-01 01:15:00  2021      1    1
29492 2021-01-01 00:51:00  2021      1    1

[29493 rows x 4 columns]

In [25]:
calls_2022 = crisis_2_dates[crisis_2_dates['year'] == 2022]
calls_2022

                Call_Date  year  month  day
0     2022-04-30 23:19:00  2022      4   30
1     2022-04-30 22:46:00  2022      4   30
2     2022-04-30 22:03:00  2022      4   30
3     2022-04-30 21:52:00  2022      4   30
4     2022-04-30 21:50:00  2022      4   30
...                   ...   ...    ...  ...
10643 2022-01-01 20:34:00  2022      1    1
10644 2022-01-01 18:27:00  2022      1    1
10645 2022-01-01 14:44:00  2022      1    1
10646 2022-01-01 12:09:00  2022      1    1
10647 2022-01-01 02:30:00  2022      1    1

[10648 rows x 4 columns]

In [26]:
calls_2020_jan = calls_2020[calls_2020['month'] == 1]
calls_2020_jan

                Call_Date  year  month  day
51446 2020-01-31 21:26:00  2020      1   31
51447 2020-01-31 21:23:00  2020      1   31
51448 2020-01-31 21:08:00  2020      1   31
51449 2020-01-31 20:52:00  2020      1   31
51450 2020-01-31 20:33:00  2020      1   31
...                   ...   ...    ...  ...
52871 2020-01-01 05:14:00  2020      1    1
52872 2020-01-01 04:45:00  2020      1    1
52873 2020-01-01 03:00:00  2020      1    1
52874 2020-01-01 01:45:00  2020      1    1
52875 2020-01-01 00:04:00  2020      1    1

[1430 rows x 4 columns]

In [27]:
calls_2020_feb = calls_2020[calls_2020['month'] == 2]
calls_2020_feb

                Call_Date  year  month  day
50028 2020-02-29 23:47:00  2020      2   29
50029 2020-02-29 22:53:00  2020      2   29
50030 2020-02-29 22:48:00  2020      2   29
50031 2020-02-29 21:21:00  2020      2   29
50032 2020-02-29 21:15:00  2020      2   29
...                   ...   ...    ...  ...
51441 2020-02-01 07:44:00  2020      2    1
51442 2020-02-01 06:52:00  2020      2    1
51443 2020-02-01 06:15:00  2020      2    1
51444 2020-02-01 01:12:00  2020      2    1
51445 2020-02-01 00:50:00  2020      2    1

[1418 rows x 4 columns]

In [28]:
calls_2020_mar = calls_2020[calls_2020['month'] == 3]
calls_2020_mar

                Call_Date  year  month  day
48208 2020-03-31 23:45:00  2020      3   31
48209 2020-03-31 22:22:00  2020      3   31
48210 2020-03-31 21:37:00  2020      3   31
48211 2020-03-31 21:30:00  2020      3   31
48212 2020-03-31 21:03:00  2020      3   31
...                   ...   ...    ...  ...
50023 2020-03-01 06:02:00  2020      3    1
50024 2020-03-01 04:43:00  2020      3    1
50025 2020-03-01 03:55:00  2020      3    1
50026 2020-03-01 01:15:00  2020      3    1
50027 2020-03-01 00:58:00  2020      3    1

[1820 rows x 4 columns]

In [29]:
calls_2020_apr = calls_2020[calls_2020['month'] == 4]
calls_2020_apr

                Call_Date  year  month  day
46430 2020-04-30 22:56:00  2020      4   30
46431 2020-04-30 22:19:00  2020      4   30
46432 2020-04-30 22:03:00  2020      4   30
46433 2020-04-30 21:41:00  2020      4   30
46434 2020-04-30 20:42:00  2020      4   30
...                   ...   ...    ...  ...
48203 2020-04-01 03:23:00  2020      4    1
48204 2020-04-01 02:44:00  2020      4    1
48205 2020-04-01 02:43:00  2020      4    1
48206 2020-04-01 01:08:00  2020      4    1
48207 2020-04-01 00:10:00  2020      4    1

[1778 rows x 4 columns]

In [30]:
calls_2020_may = calls_2020[calls_2020['month'] == 5]
calls_2020_may

                Call_Date  year  month  day
44486 2020-05-31 22:53:00  2020      5   31
44487 2020-05-31 22:50:00  2020      5   31
44488 2020-05-31 21:07:00  2020      5   31
44489 2020-05-31 20:54:00  2020      5   31
44490 2020-05-31 20:30:00  2020      5   31
...                   ...   ...    ...  ...
46425 2020-05-01 06:05:00  2020      5    1
46426 2020-05-01 03:53:00  2020      5    1
46427 2020-05-01 01:25:00  2020      5    1
46428 2020-05-01 01:24:00  2020      5    1
46429 2020-05-01 01:01:00  2020      5    1

[1944 rows x 4 columns]

In [31]:
calls_2020_jun = calls_2020[calls_2020['month'] == 6]
calls_2020_jun

                Call_Date  year  month  day
42511 2020-06-30 23:04:00  2020      6   30
42512 2020-06-30 23:04:00  2020      6   30
42513 2020-06-30 23:01:00  2020      6   30
42514 2020-06-30 22:24:00  2020      6   30
42515 2020-06-30 22:20:00  2020      6   30
...                   ...   ...    ...  ...
44481 2020-06-01 05:25:00  2020      6    1
44482 2020-06-01 04:15:00  2020      6    1
44483 2020-06-01 01:51:00  2020      6    1
44484 2020-06-01 00:43:00  2020      6    1
44485 2020-06-01 00:32:00  2020      6    1

[1975 rows x 4 columns]

In [32]:
calls_2020_jul = calls_2020[calls_2020['month'] == 7]
calls_2020_jul

                Call_Date  year  month  day
40250 2020-07-31 23:59:00  2020      7   31
40251 2020-07-31 23:33:00  2020      7   31
40252 2020-07-31 23:29:00  2020      7   31
40253 2020-07-31 23:18:00  2020      7   31
40254 2020-07-31 23:00:00  2020      7   31
...                   ...   ...    ...  ...
42506 2020-07-01 01:19:00  2020      7    1
42507 2020-07-01 01:15:00  2020      7    1
42508 2020-07-01 00:52:00  2020      7    1
42509 2020-07-01 00:12:00  2020      7    1
42510 2020-07-01 00:04:00  2020      7    1

[2261 rows x 4 columns]

In [33]:
calls_2020_aug = calls_2020[calls_2020['month'] == 8]
calls_2020_aug

                Call_Date  year  month  day
38032 2020-08-31 23:06:00  2020      8   31
38033 2020-08-31 22:50:00  2020      8   31
38034 2020-08-31 22:14:00  2020      8   31
38035 2020-08-31 21:41:00  2020      8   31
38036 2020-08-31 21:38:00  2020      8   31
...                   ...   ...    ...  ...
40245 2020-08-01 01:13:00  2020      8    1
40246 2020-08-01 01:04:00  2020      8    1
40247 2020-08-01 00:51:00  2020      8    1
40248 2020-08-01 00:34:00  2020      8    1
40249 2020-08-01 00:09:00  2020      8    1

[2218 rows x 4 columns]

In [34]:
calls_2020_sep = calls_2020[calls_2020['month'] == 9]
calls_2020_sep

                Call_Date  year  month  day
35899 2020-09-30 23:56:00  2020      9   30
35900 2020-09-30 23:24:00  2020      9   30
35901 2020-09-30 23:03:00  2020      9   30
35902 2020-09-30 23:02:00  2020      9   30
35903 2020-09-30 22:21:00  2020      9   30
...                   ...   ...    ...  ...
38027 2020-09-01 08:41:00  2020      9    1
38028 2020-09-01 08:04:00  2020      9    1
38029 2020-09-01 06:59:00  2020      9    1
38030 2020-09-01 06:37:00  2020      9    1
38031 2020-09-01 05:05:00  2020      9    1

[2133 rows x 4 columns]

In [35]:
calls_2020_oct = calls_2020[calls_2020['month'] == 10]
calls_2020_oct

                Call_Date  year  month  day
33683 2020-10-31 23:07:00  2020     10   31
33684 2020-10-31 22:33:00  2020     10   31
33685 2020-10-31 22:11:00  2020     10   31
33686 2020-10-31 22:09:00  2020     10   31
33687 2020-10-31 21:37:00  2020     10   31
...                   ...   ...    ...  ...
35894 2020-10-01 02:04:00  2020     10    1
35895 2020-10-01 01:11:00  2020     10    1
35896 2020-10-01 00:23:00  2020     10    1
35897 2020-10-01 00:16:00  2020     10    1
35898 2020-10-01 00:13:00  2020     10    1

[2216 rows x 4 columns]

In [36]:
calls_2020_nov = calls_2020[calls_2020['month'] == 11]
calls_2020_nov

                Call_Date  year  month  day
31534 2020-11-30 23:36:00  2020     11   30
31535 2020-11-30 23:35:00  2020     11   30
31536 2020-11-30 23:07:00  2020     11   30
31537 2020-11-30 23:07:00  2020     11   30
31538 2020-11-30 22:35:00  2020     11   30
...                   ...   ...    ...  ...
33678 2020-11-01 06:06:00  2020     11    1
33679 2020-11-01 06:00:00  2020     11    1
33680 2020-11-01 02:54:00  2020     11    1
33681 2020-11-01 00:46:00  2020     11    1
33682 2020-11-01 00:30:00  2020     11    1

[2149 rows x 4 columns]

In [37]:
calls_2020_dec = calls_2020[calls_2020['month'] == 12]
calls_2020_dec

                Call_Date  year  month  day
29493 2020-12-31 23:40:00  2020     12   31
29494 2020-12-31 22:31:00  2020     12   31
29495 2020-12-31 21:32:00  2020     12   31
29496 2020-12-31 21:27:00  2020     12   31
29497 2020-12-31 21:19:00  2020     12   31
...                   ...   ...    ...  ...
31529 2020-12-01 01:47:00  2020     12    1
31530 2020-12-01 01:35:00  2020     12    1
31531 2020-12-01 01:10:00  2020     12    1
31532 2020-12-01 00:48:00  2020     12    1
31533 2020-12-01 00:07:00  2020     12    1

[2041 rows x 4 columns]

In [39]:
calls_2020_dec.groupby('day').count()

     Call_Date  year  month
day
1           76    76     76
2           61    61     61
3           59    59     59
4           69    69     69
5           53    53     53
6           61    61     61
7           68    68     68
8           80    80     80
9           74    74     74
10          78    78     78
11          57    57     57
12          49    49     49
13          53    53     53
14          68    68     68
15          53    53     53
16          93    93     93
17          76    76     76
18          75    75     75
19          49    49     49
20          59    59     59
21          73    73     73
22          89    89     89
23          70    70     70
24          69    69     69
25          49    49     49
26          40    40     40
27          58    58     58
28          62    62     62
29          72    72     72
30          83    83     83
31          65    65     65